@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.homePage {
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    background-color: #000000;
    justify-content: space-around;
    background-image: url("../images/9427456_4164970.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow:scroll;
}

.main-section {
    display: flex;
    font-family: 'Merriweather', serif;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 1100px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.flex-banner {
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 3;
    position: relative;
    width: 100%;
    flex-direction: row;
}

.flex-banner img {
    width: 45%;
    height: 80%;
    
}

figcaption a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    
}

.figure {
    display: flex;
    text-align: center;
    z-index: 1;
    position: relative;
    
}
.flex-figure {
    display: flex;
    text-align: center;
    z-index: 1;
    position: relative;
    justify-content: center;
}

.flex-figure img {
    width: 50vw;
    margin-top: -21%;
    flex-grow: 5;
}

.icon {
    background-image: url(./../images/Pump.gif);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    border-radius: 50%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 3px;
  }

.flex-icons {
    display: flex;
    flex-direction:row;
    justify-content: center;
    position: relative;
    z-index: 2;
    flex-grow: 1;
    margin: 3px;
    
  }

@media(min-width: 1200px) {
    .flex-figure img {
        max-width: 90%;
    }

    .icon {
        width: 100px;
        height: 100px;
    }

}

@media (min-width: 768px) {
    footer {
      position: relative;
      bottom: auto;
      left: auto;
    }

    .icon {
        width: 100px;
        height: 100px;
        
    }
  }

  @media (max-width: 480px) {
    .icon {
        width: 100px;
        height: 100px;
        
    }
  }

  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    
  }

  .footer img {
    margin-top: -80%;
  }

.words {
    height: 22pt;
    margin: 10px;
    display: block;
}