@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

.homePage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: darkgrey;
  justify-content: space-between;
  background-image: url("../images/9427456_4164970.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: auto;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-banner {
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 3;
  position: relative;
  width: 100%;
  flex-direction: row;
}

.flex-banner img {
  width: 45%;
  height: 80%;
}

.flex-figure {
    display: flex;
    text-align: center;
    z-index: 1;
    position: relative;
    justify-content: center;
}

.logo {
  width: 500px;
  height: 500px;
}

.icon {
  background-image: url(./../images/Pump.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: 3px;
  width: 100px;
  height: 100px;
}

.flex-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  flex-grow: 1;
  margin: 20px;
  flex-direction: row;;
}


.icon {
  width: 80px;
  height: 80px;
}

.flex-icons {
  
}

.logo {
  width: 200px;
  height: 250px;
  margin-left: 150px;
  margin-right: 50px;
}
}




@media (max-width: 768px) {
  .icon {
    width: 80px;
    height: 80px;
  }

  .flex-icons {
    margin: 20px;
    flex-direction: row;
  }

  .logo {
    width: 200px;
    height: 250px;
    margin-left: 150px;
    margin-right: 50px;
  }
}

@media (min-width: 768px) {
  footer {
    position: relative;
    bottom: auto;
    left: auto;
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer img {
  margin-top: -80%;
  z-index: 1;
}

.words {
  height: 22pt;
  margin: 10px;
  display: block;
}

.topPic {
  width: 100px;
  height: 200px;
  transition: box-shadow 0.3s; /* Add a smooth transition effect */
  z-index: -1;
}

.topPic:hover {
  box-shadow: 0 0 20px rgba(0, 255, 26, 0.7);
}
