@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.homePage {
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    background-color: #000000;
    justify-content: space-around;
    background-image: url("../images/9427456_4164970.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow:scroll;
}

.main-section {
    display: flex;
    font-family: 'Merriweather', serif;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.flex-banner {
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    position: relative;
    /* margin-bottom: -15%;*/
    width: 100%;
    flex-direction: row;
}

.flex-banner img {
    width: 45%;
    height: 80%;
    
}

figcaption a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    
}

.figure {
    display: flex;
    text-align: center;
    z-index: 1;
    position: relative;
    
}
.flex-figure {
    display: flex;
    text-align: center;
    z-index: 1;
    position: relative;
    height:min-content;
}

.flex-figure img {
    width: 95vw;
    height:auto;
    margin-top: -21%;
}

.icon {
    background-image: url(./../images/Pump.gif);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    border-radius: 50%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

.flex-icons {
    display: flex;
    flex-direction:row;
    justify-content: center;
    position: relative;
    z-index: 2;
    flex-grow: 1;
    width: 30vw;
    height: 30vh;
  }


  .icon span {
    font-size: 0.8em;
    margin-top: 110px;
    color: white;
    text-align: center;
  }

footer {
    background: linear-gradient(to top, #98C800 5%, transparent);
    width: 100%;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease;
}

@media(min-width: 1200px) {
    .flex-figure img {
        max-width: 80%;
    }

    .icon {
        width: 120px;
        height: 120px;
    }

    .icon span {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    footer {
      position: relative;
      bottom: auto;
      left: auto;
    }

    .icon {
        width: 80px;
        height: 80px;
        
    }
    .icon span {
        font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    .icon {
        width: 80%;
        height: 80%;
        
    }

   .icon span {
    font-size: 12px;
   }
  }
